<h1><%= @movie["original_title"] %></h1>

<div id="cast-info">
  <h3>Top Cast Members</h3>

  <% @cast.each do |cast| %>
    <div class="actor-profile">
      <p><%= cast["name"] %></p>
    </div>
  <% end %>
</div>
